.screencondition{
	margin: 20px 0;
}
.ordersearch{
	margin: 20px 0;
}
.driver_bid_searchlist{
	margin: 20px;
border: 1px solid #b1b1b1;
border-radius: 20px;
padding: 20px;
}
.driver_bid_searchlist_row{
	margin-top: 10px;
}
.driver_bid_searchlist_row ul li{
	list-style-type: none;
}
