.LPinf_box{
	
}

.LPinf_con {
	padding: 30px 0px 20px 0px;
	margin: 0 75px;
	border-bottom: #E2E2E2 1px solid;
}

.LPinf_adr {
	line-height: 35px;
	margin: 0 75px;
	padding: 20px 0;
	font-size: 16px;
	font-weight: bold;
	color: #4F4F4F;
	border-bottom: #E2E2E2 1px solid;
}

.LPinf_pic{
	width: 100px;
	height: 100px;
	float: left;
	display: inline-block;
}

.LPinf_list{
	padding-left: 20px;
	display: inline-block;
}

.order-detail{
	border: 1px solid #e2e2e2;
width: 990px;
margin: 0 auto;
margin-top: 20px;
font: 12px/1.5 tahoma,arial,"Hiragino Sans GB",simsun,sans-serif;
color: #333;
}

.order-detail .detail-title{
	font-size: 16px;
background-color: #f7f7f7;
height: 38px;
line-height: 38px;
border-bottom: 1px solid #e2e2e2;
}

.order-detail .detail-title .indent{
	text-indent: 88px;
display: block;
}

.order-detail .detail-content{
	padding: 0 58px;
}

.order-detail ul{
	list-style: none;
padding: 0;
}

.detail-progressbar{
	width: 852px;
margin: 35px auto 22px auto;
overflow: hidden;
background: url(//gtd.alicdn.com/tps/i3/TB1fl84HpXXXXXGXFXXeCvsYFXX-845-210.png) no-repeat 4px -110px;
}

.detail-progressbar li{
	color: #909090;
margin: 0;
padding: 0;
float: left;
height: 100px;
width: 257px;
text-align: left;
}

.package-status{
	padding: 18px 0 0 0;
}

.package-status .status-list li{
	height: 30px;
border-left: 1px solid #d9d9d9;
}

.package-status .status-list li{
	height: auto;
min-height: 30px;
}

.package-status .status-list li:before {
	content: '';
	border: 3px solid #D0D0D0;
	background-color: #d9d9d9;
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	margin-left: -3px;
	margin-right: 10px;
}

span.date.hidden{
	width: 24px;
	display: inline;
	visibility: hidden;
}

.package-status .status-list{
	margin: 0;
padding: 0px 0px 25px 10px;
margin-left: 12px;
margin-top: -9px;
padding-left: 10px;
padding-bottom: 25px;
list-style: none;
line-height: 30px;
font-size: 12px;
}

.package-status .status-list .date{
	font-weight: 700;
margin-right: 8px;
font-family: Arial;
}

.package-status .status-list .date{
	width: 62px;
}

.package-status .status-list .week{
	font-weight: 700;
}

.package-status .status-list .week{
	width: 24px;
}

.package-status .status-list .time{
	margin-right: 28px;
margin-left: 5px;
}

.package-status .status-list .time{
	width: 48px;
}

.package-status .status-list .text{
	display: inline-block;
width: 653px;
vertical-align: text-top;
line-height: 1.3em;
}

.detail-progressbar .text i{
	display: none;
}

.detail-progressbar .step-1-done .text i,
.detail-progressbar .step-2-done .text i, 
.detail-progressbar .step-3-done .text i, 
.detail-progressbar .step-4-done .text i{
	display: inline;
}


.detail-progressbar .step-1-done{
	background-position: 4px 3px;
}

.detail-progressbar .step-2-done{
	background-position: -253px 3px;
}

.detail-progressbar .step-3-done{
	background-position: -515px 3px;
}

.detail-progressbar .step-4-current{
	background: url(//gtd.alicdn.com/tps/i3/TB1sepYHpXXXXX6aXXXw5AoUXXX-172-100.gif) no-repeat 0 0;
}

.detail-progressbar .step-1-done, 
.detail-progressbar .step-2-done, 
.detail-progressbar .step-3-done, 
.detail-progressbar .step-4-done{
	background: url(//gtd.alicdn.com/tps/i3/TB1fl84HpXXXXXGXFXXeCvsYFXX-845-210.png) no-repeat 4px 3px;
color: #ff5a00;
}

.detail-progressbar .text{
	margin-top: 4px;
display: none;
text-align: center;
width: 52px;
font-size: 12px;
font-weight: 700;
font-family: simsun;
}

.detail-progressbar .last, 
.detail-progressbar .last .text{
	width: 80px;
}

.detail-panel .panel-package{
	background-color: #f3f3f3;
margin-bottom: 32px;
position: relative;
border-radius: 3px;
}

.detail-panel .panel-package .arrow{
	position: absolute;
left: 35px;
top: -26px;
width: 0;
height: 0;
border: 13px solid #fff;
z-index: -1;
border-bottom-width: 13px;
border-bottom-color: #f3f3f3;
}

.detail-panel .panel-package .arrow-5{
	left: 808px;
}

.detail-panel .panel-package .package-title{
	margin: 0 14px 0 25px;
padding: 14px 0 14px 12px;
font-size: 18px;
border-bottom: 1px solid #e7e7e7;
}

.panel-order{
	padding: 20px 0;
line-height: 24px;
border-top: 1px solid #e7e7e7;
font-size: 12px;
}

.panel-order .order-row{
	margin-left: -10px;
}

.panel-order .label{
	margin-left: 10px;
}

.panel-order .em{
	font-weight: 700;
margin-right: 10px;
}

.panel-order .order-list{
	list-style: none;
margin: 0;
padding: 0;
margin-top: 15px;
overflow: hidden;
zoom: 1;
}

.panel-order .order-list li{
	float: left;
margin-right: 40px;
}

.panel-order .order-list .pic{
	overflow: hidden;
display: block;
border: 1px solid #eee;
width: 59px;
height: 59px;
line-height: 59px;
}

.order-detail a{
	color: #0077c9;
cursor: pointer;
}
























