body{background-color: #f0f0f0}
.pub_container{
    color: #333;
    background-color: #f0f0f0;
}
.pub_row{
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    position: relative;
    min-height: 600px;
}
.pub_form{border-right: 1px solid #ccc;}
.pub_form_title{display: none;}
.pub_sidebar{
    margin-top:10px;
    padding: 0 25px;
}
.pub_contact{
    border-bottom:1px solid #ddd;
}
.pub_contact dt{
    line-height: 2;
    font-size: 16px;
}
.pub_contact dd{
    line-height: 2;
}
.pub_contact_btn,.pub_contact_btn:visited{
      background: 0;
      border: 1px solid #ff8a00;
      width: 122px;
      height: 37px;
      font: 14px/37px 'Microsoft Yahei';
      text-align: center;
      text-indent: 0;
      color: #ff8a00;
      transition: all .3s ease;
      border-radius: 3px;
      padding: 10px 20px;
      text-decoration: none;
}
.pub_contact_btn:hover{
    background-color: #ff8a00;
    color: #fff;
    text-decoration: none;
}


