
.lh30{
	line-height: 30px;
}
.lh34{
	line-height: 34px;
}
.lh45{
	line-height: 45px;
}
.lh80{
	line-height: 80px;
}
.shipper_screencondition{
	margin-top: 40px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #b1b1b1;
}
.shipper_manifest_searchlist{
	margin-bottom: 20px;
	border: 1px solid #b1b1b1;
	border-radius: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.shipper_manifest_searchlist_row{
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #B1B1B1;
}
.shipper_manifest_searchlist_row ul li{
	list-style-type: none;
}

.shipper_manifest_searchlist_bottombutton{
	margin-bottom: 20px;
}
.shipper_manifest_list_bottom{
	margin-bottom: 20px;
	
}
.shipper_manifest_list_bottom ul{
	float: right;
}
