/*进度样式*/
.step_list{padding:0;}
.step li{
    float: left;
    width: 25%;
    height: 73px;
    position: relative;
    font: 14px/1.5 'Microsoft Yahei';
    color: #999;
    list-style: none;
}
.step_deco{
    z-index: 1;
    top: 45px;
    height: 2px;
    width: 100%;
    background: #C2C2C2;
    font-size: 0;
    border: 0;
    position: absolute;
    left: 0;
    overflow: hidden;
}
.step_val{
    position: absolute;
    top: 31px;
    left: 100px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #999;
    background: url(../imgs/pub-step-sprt.png) no-repeat;
    background-position: -29px 1px;
    z-index: 2;
}
.step_deco_active{
    background: #ff8a00;
}
.step_val_active{
    background-position: -60px;
    width: 33px;
    height: 33px;
    color: #fff;
    line-height: 33px;
    top: 29px;
}
