body{
	min-width: 1024px;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #333333;
	text-decoration: none;
}
* {
	font-family: "微软雅黑";
}
.container{
	min-width: 1024px !important;
}
textarea{
	resize:vertical;
}
/*首页页面样式*/

.index_classify {
	margin-top: 60px;
	text-align: center;
}
.index_classify div {
	height: 160px;
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	line-height: 160px;
	border-radius: 50%;
}
.index_classify img {
	width: 60%;
}
.index_classify p {
	font-size: 28px;
	font-weight: bold;
	margin-top: 15px;
	color: #333;
}
.index_classify span {
	text-align: left;
	display: inline-block;
	text-indent: 20px;
	color: #898989;
}
.sale_pic {
	background-color: #F0797B;
}
.grant_pic {
	background-color: #83D4E5;
}
.logistics_pic {
	background-color: #F7C62B;
}
.project_honor {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 20px;
}
.project_honor p,
.news_announcement {
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	text-align: center;
	color: #FFF;
	background-color: #4697A8;
}
.project_honor img {
	width: 100%;
	margin: 5px;
}
.projectHonor_img {
	margin-top: 10px;
}
.index_news,
.support_company {
	margin-bottom: 10px;
}
.index_news .row p,
.support_company {
	color: #DA2D24;
	font-size: 20px;
	font-weight: bold;
}
.index_news .row ul {
	border: 1px solid #DBD3D3;
	list-style: none;
	padding: 0;
}
.index_news .row ul li {
	border-bottom: 1px solid #DBD3D3;
	padding: 8px;
}
.index_news .row ul a:last-child li {
	border-bottom: none;
}
.support_company .row img {
	width: 100%;
	height: 75px;
}
.index_news .indexNews_list {
	margin-top: 15px;
}
/*首页页面样式结束*/
/*登录页面样式*/

.login_input {
	border: 2px solid #dedede;
	border-top: 2px solid #dc4740;
	width: 360px;
	padding: 0 20px 10px 20px;
	margin: 15% auto;
}
.login_img img {
	display: block;
	margin: 0 auto;
	margin-top: 8%;
}
.login_text {
	font-size: 20px;
	font-family: "黑体";
	margin: 8% 0;
}
.login_input_osize {
	padding: 9% 0;
}
.login_button {
	background: #de4942;
	color: white;
}
.login_button:hover {
	background: #de4942;
	color: white;
}
.login_fogetp {
	padding: 15px 0;
	margin: 0;
}
.login_freez {
	padding: 15px 0;
}
/*登录页面样式结束*/
/*加盟介绍页面样式*/

.item img {
	width: 100%;
}
.join_about {
	padding: 8%;
}
.join_table {
	text-align: center;
	margin-top: 10px;
}
.join_table_wapper1,
.join_table_wapper2,
.join_table_wapper3 {
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	width: 214px;
	height: 214px;
	margin-top: 10px;
}
.join_table_wapper1 {
	background-image: url(../imgs/join1.jpg);
}
.join_table_wapper2 {
	background-image: url(../imgs/join2.jpg);
}
.join_table_wapper3 {
	background-image: url(../imgs/join3.jpg);
}
.join_table_wapper1 p,
.join_table_wapper2 p,
.join_table_wapper3 p {
	line-height: 2;
	margin-top: 185px;
	background: white;
	font-size: 30px;
}
.join_table_wapper1 p {
	border: 1px solid #f65311;
	color: #f65311;
}
.join_table_wapper2 p {
	border: 1px solid #df4a43;
	color: #DF4A43;
}
.join_table_wapper3 p {
	border: 1px solid #2f3c4d;
	color: #2F3C4D;
}
/*文章样式*/

.starter-template p {
	text-align: left;
	text-indent: 40px;
	line-height: 2;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}
.starter-template h1 {
	margin: 0 0 20px 0;
}
/*加盟介绍页面样式结束*/
/*加盟车厂介绍页面样式开始*/

.about_card {
	word-wrap: break-word;
	margin-top: 5%;
	padding: 0 5%;
	margin-bottom: 20px;
}
.about_card_us {
	font-size: 30px;
	color: #df4a43;
	font-family: "微软雅黑";
	position: relative;
}
.about_card_us_1 {
	border: 1px solid #bcbcbc;
	position: absolute;
	width: 70px;
	top: 45px;
}
.about_text {
	font-size: 28px;
	color: #BCBCBC;
}
.call_us {
	float: right;
	word-break: break-word;
	width: 200px;
	height: 500px;
	border: 1px solid #DF4A43;
	line-height: 3;
	font-size: 35px;
	padding: 3%;
	color: #DF4A43;
}
/*加盟车厂介绍页面样式结束*/
/*加盟司机车队页面样式开始*/

.tr_about_card {
	word-wrap: break-word;
	margin-top: 5%;
	padding: 0 5%;
	margin-bottom: 20PX;
}
.tr_about_card_us {
	font-size: 30px;
	color: #df4a43;
	font-family: "微软雅黑";
	position: relative;
}
.tr_about_card_us_1 {
	border: 1px solid #bcbcbc;
	position: absolute;
	width: 70px;
	top: 45px;
}
.tr_about_text {
	font: 400 20px/1.8 Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}
.article_wrap{
	margin: 10px;
	margin-top: -20px;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
	-o-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
}

.tr_call_us {
	float: right;
	word-break: break-word;
	width: 200px;
	height: 500px;
	border: 1px solid #DF4A43;
	line-height: 3;
	font-size: 35px;
	padding: 3%;
	color: #DF4A43;
}
/*加盟司机车队页面样式结束*/
/*加盟货源介绍页面样式开始*/

.de_about_card_hw {
	font-size: 30px;
	color: #0d5877;
	font-family: "微软雅黑";
	position: relative;
}
.de_about_card {
	word-wrap: break-word;
	margin-top: 5%;
	padding: 0 5%;
	margin-bottom: 20PX;
}
.de_about_card_us {
	font-size: 30px;
	color: #df4a43;
	font-family: "微软雅黑";
	position: relative;
}
.de_about_card_us_1 {
	border: 1px solid #bcbcbc;
	position: absolute;
	width: 70px;
	top: 45px;
}
.de_about_text {
	font-size: 28px;
	color: #BCBCBC;
}
.de_call_us {
	float: right;
	word-break: break-word;
	width: 200px;
	height: 500px;
	border: 1px solid #DF4A43;
	line-height: 3;
	font-size: 35px;
	padding: 3%;
	color: #DF4A43;
}
/*加盟货源介绍页面样式结束*/
/*public*/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
html,
body,
form,
input,
select,
textarea,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
form,
img,
dl,
dt,
dd,
table,
th,
td,
blockquote,
fieldset,
div,
strong,
label,
em {
	margin: 0;
	padding: 0;
}
.clear {
	clear: both;
}
.thRelative {
	margin-top: 10px;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	border: 1px solid #c1c1c1;
	padding: 2px 0 10px 10px;
}
.thLeft {
	float: left;
}
.thRight {
	float: right;
}
.size_14 {
	font-size: 14px;
}
/**线路列表-索引**/

.lineSearch {
	margin: 10% auto;
	height: 45px;
	width: 980px
}
.ico {
	background: url(../imgs/sicon_v5.png) no-repeat;
}
/*boxSearch*/

.lineSearch li .boxSearch,
.lineSearch li .boxSearchHover {
	position: relative;
	width: 255px;
	padding-left: 7px;
	color: #777;
	height: 31px;
	border: 1px solid #dbdbdb;
	margin-right: 8px;
	line-height: 31px;
	cursor: pointer;
}
.lineSearch li .boxSearchHover {
	z-index: 2001;
	border: 1px solid #FBD8A1;
	border-bottom-color: #fff;
}
.boxSearch .key_word {
	position: absolute;
	left: 26px;
	top: 5px;
	line-height: 22px;
	color: #777;
}
.boxSearch .ico_shBlue {
	margin-top: 7px;
	width: 12px;
	height: 17px;
	display: inline-block;
	background-position: left -165px;
}
.boxSearch .btn_search,
.boxSearch .btn_search_current {
	border-left: 1px solid #dbdbdb;
	background-position: 6px -186px;
	width: 25px;
	height: 5px;
	margin-top: 4px;
	padding: 9px 6px;
	_padding: 9px 6px 0;
}
.boxSearch .btn_search_current {
	background-position: 6px -202px;
}
.search_form_suggest {
	border: 1px solid #DF4A43;
	position: absolute;
	top: 32px;
	left: 0;
	z-index: 978;
	width: 368px;
	padding: 5px 15px;
	background: #fff;
}
.search_form_suggest h3 {
	font-size: 12px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	padding: 0 0 5px 10px;
	color: #DF4A43;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 4px;
}
.btn_close {
	cursor: pointer;
	background-position: 0 -1px;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	overflow: hidden;
	_text-indent: 0;
	_font-size: 0;
	_line-height: 0;
}
.btn_close:hover {
	background-position: 0 -27px;
}
.search_hotList dd {
	line-height: 25px;
	padding-bottom: 2px;
}
.search_hotList dd a {
	color: #777;
	margin-right: 12px;
	word-break: break-all;
	white-space: nowrap;
	display: inline-block;
}
.tab_select dl {
	padding: 5px 0;
}
.tab_select dt {
	width: 46px;
	background: #DF4A43;
	font: bold 12px/22px Tahoma, Geneva, sans-serif;
	color: #fff;
	text-align: center;
	margin-left: 5px;
}
.tab_select dd {
	line-height: 22px;
	width: 317px;
	_width: 310px;
}
.tab_select dd a {
	color: #888;
	margin-left: 10px;
	display: inline-block;
}
/*lineSearchbg*/

.lineSearchbg {
	border: 1px solid #dbdbdb;
	height: 31px;
	line-height: 31px;
	width: 390px;
}
.lineSearchbg .ico_serGray {
	width: 18px;
	height: 18px;
	background-position: 8px -52px;
	padding: 7px 5px 0 8px;
}
.lineSearchbg input {
	font-size: 14px;
	font-family: Arial, sans-serif;
	border: 0;
	height: 15px;
	line-height: 15px;
	padding: 9px 0 7px;
	width: 312px;
	color: #b5b5b5;
	background: #fff;
}
.lineSearchbg a.btn_search {
	background-position: 0 -90px;
	height: 33px;
	line-height: 32px;
	display: inline-block;
	width: 71px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	font-size: 14px;
	position: absolute;
	right: -46px;
	top: -1px;
}
.lineSearchbg a.btn_search:hover {
	background-position: 0 -125px;
	text-decoration: none;
}
/*线路列表-索引结束*/
/*“运力云”平台的优势介绍*/
.trans_wrap{
	margin: 10px;
	margin-top: 10px;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
	-o-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
}
.trans_texttit {
	font-size: 30px;
	color: #df4a43;
	font-family: "微软雅黑";
	position: relative;
}
.trans_texttit_1 {
	border: 1px solid #bcbcbc;
	position: absolute;
	width: 70px;
	top: 45px;
}
.trans_text {
	font: 400 20px/1.8 Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}
.trans_text p{
	text-indent: 2rem;
}
/*导航样式*/

.navbar-default .navbar-nav>li>a {
	color: #0d577a;
	font-weight: 500;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #0d577a;
}
.navbar_truck {
	margin-bottom: 0;
}
.truck_brand {
	float: left;
	padding: 10px 15px;
}
.truck_active {
	background-color: #E8E8E8;
}

/*导航样式b*/
.wrap_header{
	width:100%;background-color:#f8f8f8;box-shadow: 0 0 5px rgba(0,0,0,0.1);
	height: 50px;
}
.niwdoawi_center {
	width: 100%;
	background-color: #F8F8F8;
	position: relative;
	z-index: 990;
	min-width: 1010px;
	height: 50px;
}
.niwdoawi_center .logo {
	height: 50px;
}
.w1000 {
	width: 1000px;
	margin: 0 auto;
}
.clearfix {
	display: block;
	zoom: 1;
}
.niwdoawi_center .fl {
	display: block;
	width: 365px;
}
.pl_17 {
	padding-left: 17px;
}
.fl {
	float: left;
	_display: inline;
}
.fr {
	float: right;
	_display: inline;
}
img {
	border: 0;
	display: inline-block;
	vertical-align: middle;
}
.niwdoawi_center .righ .nav {
	width: 600px;
}
.niwdoawi_center .righ .nav li {
	float: left;
	height: 50px;
	line-height: 50px;
	_display: inline;
	position: relative;
}
.niwdoawi_center .righ .nav li a{
	color: #333;
	font-family: "微软雅黑";
}
.niwdoawi_center .righ .nav li .one {
	padding: 0 26px;
	color: #333;
}
.text-info{
	margin-top: 0;
}
.text-info li:last-child{
	margin-left: 5px;
}
.niwdoawi_center .righ .nav li a{
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
}
/*导航样式结束*/


/*轮播图图片*/

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
	width: 100%;
}
/*车贷主要内容样式*/

.truck_step {
	width: 100%;
	margin-top: 15px;
}
.truck_step imgP {
	width: 100%;
}
.step_img {
	width: 100%;
	margin-top: 15px;
}
.truck_h3 {
	font-size: 20px;
	position: relative;
	margin-bottom: 20px;
	margin-top: 20px;
}
.truck_h3::after {
	content: "";
	display: block;
	width: 30px;
	height: 2px;
	background-color: #ccc;
	position: absolute;
	bottom: -15px;
	left: 2px;
}
.form-control {
	color: #aba9ac;
}
.truck_measure {
	position: absolute;
	right: 32px;
	top: 8px;
	color: #aba9ac;
}
.truck_code {
	display: inline-block;
	width: 62%;
	float: left;
}
.code_btn {
	float: right;
	padding-left: 0;
	padding-right: 0;
	width: 37%;
}
.truck_tip {
	color: #16b29a;
	font-size: 13px;
	margin-top: 10px;
}
.truck_tip em {
	margin: 0 5px;
	color: #f00;
}
.news_container {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px 30px;
	padding-top: 20px;
	position: relative;
	background-color: #fff;
	margin-top: 10px;
}
.news_container:after,
.news_container:before {
	content: "";
	display: inline-block;
	width: 100%;
	height: 101%;
	position: absolute;
	border: 1px solid #ccc;
	border-radius: 5px;
	z-index: -1;
	bottom: -2px;
}
.news_container:before {
	right: -8px;
}
.news_container:after {
	right: -4px;
}
.news_container h4 {
	padding-bottom: 8px;
	border-bottom: 2px solid #ccc;
	position: relative;
}
.news_container h4:after {
	content: "";
	display: inline-block;
	height: 2px;
	width: 30px;
	position: absolute;
	bottom: -2px;
	left: 0;
	background-color: #2f3c4d;
}
.news_container span {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	width: 30px;
	background:#337AB7;
	border-radius: 5px;
	margin-right: 6px;
	text-align: center;
	line-height: 30px;
	color: #fff;
}
.news_container li {
	border-bottom: 1px solid #ccc;
}
.news_container li:last-child {
	border: none;
}
.news_container .nav>li>a{
	color: #333;
}
.truck_ask img {
	width: 82%;
}
.truck_result {
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #aba9ac;
	background-color: #fff;
	background-image: none;
	margin-bottom: 0;
}
/*汽车详情页*/
/*表单性别样式*/

.truck_formsex {
	height: 34px;
	line-height: 34px;
}
.general_introduction {
	text-align: center;
}
.truck_ad {
	color: #b5b5b5;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.truck_ad span {
	color: #545454;
	font-size: 14px;
}
.gi_imgbox {
	overflow: hidden;
}
.gi_tie {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin: 8px 0;
}
.gi_money {
	float: right;
	color: #df4a43;
	font-size: 18px;
	font-weight: bold;
	text-align: right;
}
.gi_money span {
	font-size: 25px;
}
.giTabtit_box div {
	width: 10%;
	float: left;
	height: 40px;
	line-height: 40px;
	margin: 0 20% 15px 20%;
	font-size: 20px;
	font-weight: bold;
	white-space: nowrap;
	color: #df4a43;
	text-indent: -25px;
	cursor: pointer;
}
.giTab_select {
	border-bottom: 2px solid #CCCCCC;
}
.giTab_table {
	display: none;
}
.giTab_table tr td:first-child {
	background-color: #F7F7F7;
}
.hr_10 {
	width: 100%;
	height: 10px;
}
/*套餐栏*/

.truck_package {
	margin-top: 15px;
}
.truck_package .nav-tabs>li>a {
	border-radius: 0;
	margin-left: -1px;
	padding: 5px 10px;
}
.truck_package .nav-tabs>li.active>a,
.truck_package .nav-tabs>li.active>a:focus,
.truck_package .nav-tabs>li.active>a:hover {
	border-top: 3px solid #e43639;
	background-color: #fff;
	height: 40px;
	margin-top: -7px;
	padding: 7px 10px;
	color: #E43639;
	font-weight: bold;
}
.truck_package .nav-tabs {
	background-color: #F7F7F7;
	border: 1px solid #e2e2e2;
	height: 34px;
	border-top: 2px solid #888;
}
.truck_package .tab-content {
	border: 1px solid #E2E2E2;
	border-top: none;
}
.truck_package .tab-content li {
	list-style: none;
	float: left;
	padding: 0 10px;
	margin: 7px 0;
	border-left: 1px solid #dddad3;
	font-size: 13px;
}
.truck_package .tab-content ul {
	padding: 0;
	margin: 0;
}
.truck_package .tab-content ul li:first-child {
	color: #e64648;
	font-weight: bold;
	border-left: none;
}
.truckPackage_list {
	margin: 0;
}
.truckPackage_list .list_item {
	padding: 10px 10px;
}
.truckPackage_list .list_img {
	padding-top: 45px;
}
.truckPackage_list .list_item img {
	width: 100%;
}
.truckPackage_list .list_item div {
	width: 100%;
	padding-top: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.truckPackage_list .list_item p {
	color: #aaa;
	font-size: 12px;
	margin-top: 10px;
}
.truckPackage_list .list_item p b {
	color: #e3211f;
}
.truckPackage_list .list_item button {
	border: none;
	background-color: #e74649;
	color: #fff;
	border-radius: 5px;
	padding: 3px 10px;
}
.truckPackage_list .list_item label {
	color: #e85041;
}
/*计算器*/

.truck_claBox {
	margin-top: 15px;
}
.truckBox_border {
	border: 1px solid #E2E2E2;
	padding: 0 12px 12px;
	border-radius: 5px;
}
.truck_claList label {
	font-size: 13px;
	font-weight: normal;
	text-align: center;
}
.truck_claList {
	margin-bottom: 10px;
}
/*用户评论*/

.truck_discuss {
	margin-top: 15px;
	margin-bottom: 15px;
}
.truckDis_table {
	margin-top: 10px;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.truckDis_table thead th {
	text-align: center;
	background-color: #F7F7F7;
}
.truckDis_table tbody td:nth-child(2) div {
	width: 16px;
	height: 16px;
	background: no-repeat url(../imgs/star.jpg) center;
	float: left;
}
.truck_discuss table tr th,
.truck_discuss table tr td {
	width: 17%;
}
.truck_discuss table tr th:first-child,
.truck_discuss table tr td:first-child {
	width: 50%;
	padding: 15px 10px;
}
.truckDis_table tbody td:nth-child(2) {
	padding-left: 5%;
}
.truckDis_table tbody td:nth-child(3) {
	color: #9b9b9b;
	font-size: 12px;
	text-align: center;
}
.truckDis_table tbody td:nth-child(4) {
	color: #999;
	font-size: 12px;
}
.truckDis_table tbody td:nth-child(4) .truckDis_time,
.truckDis_table tbody td:nth-child(4) .truckDis_username {
	color: #797979;
}
/*表单样式*/

.struck_form {
	margin-top: 10px;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
	-o-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.1) inset;
}
/*运力云页面样式*/
.transport_logistics_pic1 {
	background-color: #F7C62B;
}
.transport_logistics_pic2 {
	background-color: #DF4A43;
}
.transport_index_classify {
	margin-top: 60px;
	text-align: center;
}
.transport_index_classify div {
	height: 160px;
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	line-height: 160px;
	border-radius: 50%;
}
.transport_index_classify img {
	width: 60%;
}
.transport_index_classify p {
	font-size: 28px;
	font-weight: bold;
	margin-top: 15px;
	color: #333;
}
.transport_index_classify span {
	text-align: left;
	display: inline-block;
	text-indent: 20px;
	color: #898989;
}
.carousel-inner .item img {
	width: 100%;
}
.rob_order .row div {
	padding-left: 60px;
}
.rob_order .row div b {
	height: 50px;
	width: 2px;
	left: 30px;
	top: 12px;
	position: absolute;
	display: inline-block;
	background-color: #DF4A43;
}
.rob_order .row div p {
	font-size: 20px;
	font-weight: bold;
}
.rob_order .row div p span {
	color: #b1b1b1;
	font-weight: normal;
	font-size: 16px;
}
.rob_order_btn {
	height: 35px;
	width: 120px;
	background-color: #DF4A43;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	line-height: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-size: 18px !important;
	font-weight: normal !important;
}
.order_lose {
	background-color: #B9B9B9;
}
.rob_order_time {
	color: #c1c1c1;
	text-align: center;
	width: 100%;
	font-size: 16px !important;
	font-weight: normal !important;
}
.rob_order .pagination>li>a,
.rob_order .pagination>li>span {
	color: #333;
}
.select_address_days ul,
.select_address_days li,
.select_address_days dl,
.select_address_days dt,
.select_address_days dd {
	list-style: none;
	float: left;
}
/*运力云tab样式开始*/
.transport_tab{
	padding: 0 50px;
}
.transport_tab ul li{
	line-height: 40px;
	font-family: "微软雅黑";
	font-size: 15px;
	list-style-type: disc;
}
.transport_tab ul span{
	line-height: 40px;
	font-family: "微软雅黑";
	font-size: 15px;
}
/*运力云tab样式结束*/
/*运力云样式结束*/
/*重卡售卖页面样式开始*/

.trucks_wapper {
	padding-top: 2%;
	margin-bottom: 20px;
}
.trucks_carinput {
	margin-bottom: 20px;
}
.trucks_carinput_select {
	width: 20%;
	display: inline-block;
	border: 1px solid #DF4A43;
}
.trucks_carinput input {
	width: 70%;
	display: inline-block;
	border: 1px solid #DF4A43;
}
.trucks_carinput button {
	width: 18%;
	border: 1px solid #DF4A43;
	background: #DF4A43;
	color: white;
	margin-top: -3px;
}
.trucks_carinput button:hover {
	width: 18%;
	border: 1px solid #DF4A43;
	background: #DF4A43;
	color: white;
}
.salecar a {
	border: 1px solid #DF4A43;
	color: #DF4A43;
}
.salecar a:hover {
	border: 1px solid #DF4A43;
	color: #DF4A43;
	background: none;
}
.second_trucks_term section {
	border: 1px solid #DF4A43;
}
.second_trucks_term_a {
	border: 1px solid #DF4A43;
}
.second_trucks_tgimg {
	height: 100px;
	text-align: center;
	border: 1px solid #DF4A43;
	color: #DF4A43;
	padding-top: 35px;
	margin-top: 20px;
}
.second_trucks_product {
	margin-top: 20px;
}
.second_trucks_product img {
	width: 100%;
}
.second_trucks_product_xq_name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	font-size: 20px;
	color: #DF4A43;
	font-family: "微软雅黑";
}
.second_trucks_product_xq_type {
	font-size: 10px;
	color: #BCBCBC;
	font-family: "微软雅黑";
}
.second_trucks_product_xq_pirce {
	font-size: 18px;
	font-family: "微软雅黑";
}
.second_trucks_product_xq_pirce span {
	border: 1px solid #DF4A43;
	color: #DF4A43;
}
.second_trucks_product_xq_pirce span:hover {
	border: 1px solid #DF4A43;
	color: #DF4A43;
	background: none;
}
.second_trucks_tabnav {
	margin: 0 auto;
	text-align: center;
	margin-top: 40px;
}
.second_trucks_tabnav ul {
	border: none;
}
.second_trucks_tabnav ul li {
	float: none;
	display: inline-block;
	background: #F9F9F9;
}
.second_trucks_tabnav ul li:hover {
	float: none;
	display: inline-block;
	background: #F9F9F9;
}
.second_trucks_tabnav ul li a {
	float: none;
	display: inline-block;
	background: #F9F9F9;
}
.footer_Carousel .row img {
	height: auto !important;
}
.second_trucks_tabnav ul li a:hover {
	float: none;
	display: inline-block;
	background: #F9F9F9;
	border: 1px solid #F9F9F9;
}
.second_trucks_hotcar {
	font-size: 20px;
	border-bottom: 2px solid #bcbcbc;
	margin-bottom: 5px;
	margin-top: 20px;
	position: relative;
	font-family: "黑体";
}
.second_trucks_hotcar i {
	color: #DF4A43;
}
.second_trucks_xt {
	position: absolute;
	border: 1px solid black;
	width: 100px;
}
/*重卡售卖页面样式结束*/
/*二手重卡售卖页面样式开始*/

.second_trucks_wapper {
	padding: 0 10%;
	padding-top: 2%;
	margin-bottom: 20px;
}
.second_trucks_carinput {
	margin-bottom: 20px;
}
.second_trucks_carinput input {
	width: 70%;
	display: inline-block;
	border: 1px solid #DF4A43;
}
.second_trucks_carinput button {
	width: 18%;
	border: 1px solid #DF4A43;
	background: #DF4A43;
	color: white;
}
.second_trucks_carinput button:hover {
	width: 18%;
	border: 1px solid #DF4A43;
	background: #DF4A43;
	color: white;
}
.second_salecar a {
	border: 1px solid #DF4A43;
	color: #DF4A43;
}
.second_salecar a:hover {
	border: 1px solid #DF4A43;
	color: #DF4A43;
	background: none;
}
.trucks_term section {
	border: 1px solid #DF4A43;
}
.trucks_term_a {
	border: 1px solid #DF4A43;
}
.trucks_tgimg {
	height: 100px;
	text-align: center;
	border: 1px solid #DF4A43;
	color: #DF4A43;
	padding-top: 35px;
	margin-top: 20px;
}
.trucks_product {
	margin-top: 20px;
}
.trucks_product img {
	width: 100%;
}
.trucks_product_xq_name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	font-size: 20px;
	color: #DF4A43;
	font-family: "微软雅黑";
}
.trucks_product_xq_type {
	font-size: 10px;
	color: #BCBCBC;
	font-family: "微软雅黑";
}
.trucks_product_xq_pirce {
	font-size: 18px;
	font-family: "微软雅黑";
}
.trucks_product_xq_pirce span {
	border: 1px solid #DF4A43;
	color: #DF4A43;
}
.trucks_product_xq_pirce span:hover {
	border: 1px solid #DF4A43;
	color: #DF4A43;
	background: none;
}
.trucks_tabnav {
	margin: 0 auto;
	text-align: center;
	margin-top: 40px;
}
.trucks_tabnav ul {
	border: none;
}
.trucks_tabnav ul li {
	float: none;
	display: inline-block;
	background: #F9F9F9;
}
.trucks_tabnav ul li:hover {
	float: none;
	display: inline-block;
	background: #F9F9F9;
}
.trucks_tabnav ul li a {
	float: none;
	display: inline-block;
	background: #F9F9F9;
}
.footer_Carousel .row img {
	height: auto !important;
}
.trucks_tabnav ul li a:hover {
	float: none;
	display: inline-block;
	background: #F9F9F9;
	border: 1px solid #F9F9F9;
}
.trucks_hotcar {
	font-size: 20px;
	border-bottom: 2px solid #bcbcbc;
	margin-bottom: 5px;
	margin-top: 20px;
	position: relative;
	font-family: "黑体";
}
.trucks_hotcar i {
	color: #DF4A43;
}
.trucks_xt {
	position: absolute;
	border: 1px solid black;
	width: 100px;
}
/*二手重卡售卖页面样式结束*/
/*计算器开始*/

.form-horizontal .calcu_text {
	padding-right: 0;
}
/*计算器结束*/
/*脚部样式*/

.truck_footer {
	background: #01505f;
	padding-top: 20px;
}
.truck_footer h3 {
	color: #fff;
	margin-left: 50px;
	margin-bottom: 20px;
}
.truck_footer .row div ul li {
	text-align: center;
}
.truck_footer .row div ul li a {
	color: #fff;
}
.truck_address {
	padding: 10px;
	color: #fff;
	margin-top: 20px;
}
.truck_address p {
	text-align: center;
	font-size: 12px;
	color: #868686;
}
